body,html {
    height: 100%;
}

#bordaFormulario {
    margin: 0 auto;
    margin-top: 0.5rem;
    width: 400px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

#backgroundFormulario {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.gray {
    color: #495057;
}

#tituloFormCadastreme {
    text-align: center;
    color: #495057;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.rodape {
    position: absolute;
    bottom: 0px;
}

.redes {
    width: 100%;
    text-align: center;
}

.redes img {
    width: 2.5%;
}

.redes ul li {
    list-style-type: none;
    display: inline;
}

@media only screen and (min-width: 450px) and (max-width: 768px) {
    footer {
        clear: both;
        width: 100%;
        margin-bottom: 3%;
    }
}

space {
    text-indent: 200px;
}