<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBase</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="alert alert-primary" role="alert">
        Bem vindo a API DevBase.
    </div>
    <div>
        <label>Leia nossa documentação: </label>
        <a href="https://github.com/DouglasSumita/DevBase/blob/master/README.md" class="btn btn-primary btn-lg active"
            role="button" aria-pressed="true" target="_blank">
            Documentação
        </a>
    </div>
</body>

</html>